.calsma2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.calsma2-calsma2 {
  width: 100%;
  height: 2185px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(52, 44, 33, 1);
}
 
.calsma2-rectangle1 {
  top: 0px;
  left: -2px;
  width: 1440px;
  height: 875px;
  position: absolute;
  border-radius: 0 0 10px 10px;
}
 
.calsma2-kulenlogo {
  top: 62px;
  left: 674px;
  width: 97px;
  height: 111px;
  position: absolute;
}
 
.calsma2-solustheader {
  gap: 52px;
  top: 106px;
  left: 394px;
  width: 248px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.calsma2-text10 {
  color: rgba(255, 249, 243, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text11 {
  color: rgba(255, 249, 243, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-frame8 {
  gap: 52px;
  top: 106px;
  left: 803px;
  width: 218px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.calsma2-sagustheader {
  gap: 32px;
  top: 101px;
  left: 803px;
  width: 218px;
  display: flex;
  position: absolute;
  align-items: center;
}
 
.calsma2-text12 {
  color: rgba(255, 249, 243, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-frame9 {
  gap: 10px;
  width: 109px;
  height: 32px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(255, 237, 216, 1);
}
 
.calsma2-text13 {
  top: 5px;
  left: 10px;
  color: rgba(21, 24, 29, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-aramabutonsagust {
  top: 60px;
  left: 1318px;
  width: 23px;
  height: 23px;
  position: absolute;
}
 
.calsma2-frame10 {
  top: 61px;
  left: 61px;
  width: 122px;
  height: 21px;
  position: absolute;
}
 
.calsma2-text14 {
  top: 373px;
  left: 340px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-frame11 {
  gap: 10px;
  top: 470px;
  left: 625px;
  width: 191px;
  height: 53px;
  display: flex;
  padding: 15px 29px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 249, 243, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  justify-content: center;
}
 
.calsma2-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text16 {
  top: 954px;
  left: 571px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-rectangle15 {
  top: 1108px;
  left: 306px;
  width: 828px;
  height: 641px;
  position: absolute;
  border-radius: 10px;
}
 
.calsma2-frame12 {
  gap: 10px;
  top: 1549px;
  left: 463px;
  width: 247px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.calsma2-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-line1 {
  top: 1427px;
  left: 463px;
  width: 515px;
  height: 1px;
  position: absolute;
}
 
.calsma2-line2 {
  top: 1188px;
  left: 721px;
  width: 190px;
  height: 1px;
  position: absolute;
}
 
.calsma2-line3 {
  top: 1474px;
  left: 720px;
  width: 190px;
  height: 1px;
  position: absolute;
}
 
.calsma2-sagkuaforsus {
  top: 1388px;
  left: 1134px;
  width: 78px;
  height: 78px;
  position: absolute;
}
 
.calsma2-solkuaforsus {
  top: 1388px;
  left: 308px;
  width: 78px;
  height: 78px;
  position: absolute;
}
 
.calsma2-soltrasfyatlar {
  gap: 1px;
  top: 1245px;
  left: 460px;
  width: 182px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.calsma2-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-sagtrasfyatlar {
  gap: 10px;
  top: 1255px;
  left: 768px;
  width: 189px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.calsma2-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-frame13 {
  gap: 10px;
  top: 1533px;
  left: 774px;
  width: 166px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.calsma2-text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: 175.99999904632568%;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-makihairdresser {
  top: 1155px;
  left: 505px;
  width: 65px;
  height: 65px;
  position: absolute;
}
 
.calsma2-phhairdryer {
  top: 1152px;
  left: 898px;
  width: 71px;
  height: 71px;
  position: absolute;
}
 
.calsma2-gameiconscomb {
  top: 1455px;
  left: 532px;
  width: 78px;
  height: 78px;
  position: absolute;
}
 
.calsma2-streamlineultimatebodycarecream {
  top: 1466px;
  left: 830px;
  width: 55px;
  height: 55px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.calsma2-group1 {
  top: 2.8657188415527344px;
  left: 1.71875px;
  width: 51.5625px;
  height: 47.78007507324219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-vector10 {
  top: 16.84261703491211px;
  left: 0px;
  width: 52px;
  height: 31px;
  position: absolute;
}
 
.calsma2-vector11 {
  top: 1.341104507446289e-7px;
  left: 10.3125px;
  width: 33px;
  height: 41px;
  position: absolute;
}
 
.calsma2-footerletsm {
  top: 1851px;
  left: 0px;
  width: 1440px;
  height: 334px;
  position: absolute;
}
 
.calsma2-layer4 {
  top: 1892px;
  left: 666px;
  width: 109px;
  height: 138px;
  position: absolute;
}
 
.calsma2-layer5 {
  top: 1683px;
  left: 702px;
  width: 37px;
  height: 47px;
  position: absolute;
}
 
.calsma2-group3 {
  top: 1901px;
  left: 108px;
  width: 149px;
  height: 49px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-text27 {
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-rectangle11 {
  top: 45px;
  left: 43px;
  width: 82px;
  height: 4px;
  position: absolute;
}
 
.calsma2-fluentmdl2contact {
  top: 7px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
 
.calsma2-text28 {
  top: 1961px;
  left: 151px;
  color: rgba(0, 0, 0, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-mynauilocation {
  top: 1963px;
  left: 123px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.calsma2-group6 {
  top: 2.9999992847442627px;
  left: 4.500219345092773px;
  width: 14.999561309814453px;
  height: 18.000255584716797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-vector12 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 18px;
  position: absolute;
}
 
.calsma2-vector13 {
  top: 5.000000953674316px;
  left: 5.499780654907227px;
  width: 4px;
  height: 4px;
  position: absolute;
}
 
.calsma2-text29 {
  top: 2088px;
  left: 151px;
  color: rgba(0, 0, 0, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-hugeiconscontact02 {
  top: 2091px;
  left: 123px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.calsma2-group7 {
  top: 2px;
  left: 2.5px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-vector14 {
  top: 0px;
  left: 1.5px;
  width: 17px;
  height: 20px;
  position: absolute;
}
 
.calsma2-vector15 {
  top: 5.499711990356445px;
  left: 6.499791145324707px;
  width: 9px;
  height: 9px;
  position: absolute;
}
 
.calsma2-vector16 {
  top: 4px;
  left: 0px;
  width: 2px;
  height: 12px;
  position: absolute;
}
 
.calsma2-group4 {
  top: 1919px;
  left: 1111px;
  width: 232px;
  height: 135px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-text30 {
  color: rgba(0, 0, 0, 1);
  width: 232px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-rectangle12 {
  top: 45px;
  left: 1px;
  width: 231px;
  height: 4px;
  position: absolute;
}
 
.calsma2-text31 {
  top: 61px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-text32 {
  top: 106px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Jost;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.calsma2-vaadinmorning {
  top: 60px;
  left: 0px;
  width: 31px;
  height: 31px;
  position: absolute;
}
 
.calsma2-ioncloudynightsharp {
  top: 106px;
  left: 2px;
  width: 27px;
  height: 27px;
  position: absolute;
}
 
.calsma2-group5 {
  top: 2124px;
  left: 659px;
  width: 122px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-vector17 {
  top: 0.5px;
  left: 0px;
  width: 12px;
  height: 20px;
  position: absolute;
}
 
.calsma2-group2 {
  top: 1.190185546875px;
  left: 47.2413330078125px;
  width: 18.517370223999023px;
  height: 18.61962890625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.calsma2-vector18 {
  top: 5.172119140625px;
  left: 5.1436767578125px;
  width: 8px;
  height: 8px;
  position: absolute;
}
 
.calsma2-vector19 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
 
.calsma2-vector20 {
  top: 3.61944580078125px;
  left: 14.916748046875px;
  width: 0px;
  height: 1px;
  position: absolute;
}
 
.calsma2-vector21 {
  top: 0px;
  left: 101px;
  width: 21px;
  height: 21px;
  position: absolute;
}
 
.calsma2-materialsymbolslightsearchrounded {
  top: 2074px;
  left: 906px;
  width: 34px;
  height: 34px;
  position: absolute;
}
 
.calsma2-line4 {
  top: 2104px;
  left: 519px;
  width: 387px;
  height: 1px;
  position: absolute;
}
 
.calsma2-link {
  display: contents;
}
 
.calsma2-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.calsma2-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.calsma2-text33 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
